<div class="row">
  <div class="col-md-12">
    <div class="float-right">
      <button class="btn btn-primary mx-3">Category Settings</button>
      <button class="btn btn-primary">Workflow Settings</button>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Add New Category</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <input type="text" class="form-control" id="inputCategory" placeholder="Enter category...">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Add New Status</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <input type="text" class="form-control" id="inputStatus" placeholder="Enter status...">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Add New Resolution</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-lg-4 col-md-6 col-sm-8">
              <input type="text" class="form-control" id="inputResolution" placeholder="Enter resolution...">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Add New Priority Level</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <input type="text" class="form-control" id="inputPriority" placeholder="Enter priority name...">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <select class="form-control">
                <option>Priority 1</option>
                <option>Priority 2</option>
                <option>Priority 3</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-2">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">Change User Permission</div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <input type="text" class="form-control" id="inputUsername" placeholder="Enter username...">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <select class="form-control">
                <option>User Level 1</option>
                <option>User Level 2</option>
                <option>User Level 3</option>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-2">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>