<div class="card">
  <div class="card-header">Created By Me</div>
  <div class="card-body">
    <table class="table table-hover">
      <thead *ngIf="(issues | async)?.length > 0">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Status</th>
          <th>Assignee</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issues | async; let i = index">
          <td>{{i+1}}</td>
          <td><a routerLink="/issue/{{issue.id}}">{{issue.title}}</a></td>
          <td>{{getStatusName(issue.statusId)}}</td>
          <td>{{getUserName(issue.assignedToId)}}</td>
        </tr>
        <tr *ngIf="(issues | async)?.length == 0">
          <td colspan="4" class="text-center">No issues</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>